<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="vaccineGivingClinic/clinicBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>

    <div class="card widget-card border-light shadow-sm">
        <div class="card-body p-4">

            <div class="tab-content pt-4" id="profileTabContent">
                <!--Profile Tab-->
                <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="1">

                    <form th:action="@{/clinicAuthority/updateClinicProfile}" th:object="${clinic}" class="row gy-3 gy-xxl-4">

                        <!-- Clinic Name -->
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="name" th:value="${clinic.name}">
                        </div>

                        <!-- Email -->
                        <div class="col-12 col-md-6">
                            <label for="email" class="form-label"> Email </label>
                            <input type="email" class="form-control" id="email" th:value="${clinic.email}" readonly>
                        </div>

                        <!-- RegistrationNumber -->
                        <div class="col-12 col-md-6">
                            <label for="registrationNumber" class="form-label">RegistrationNumber</label>
                            <input type="text" class="form-control" id="registrationNumber" th:value="${clinic.registrationNumber}">
                        </div>

                        <!-- Address -->
                        <div class="col-12 col-md-6">
                            <label for="address" class="form-label"> Address </label>
                            <input type="text" class="form-control" name="address" id="address" th:value="${clinic.address}">
                        </div>


                        <div style="align-items: center">
                            <div class="col-6 mt-3">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>

                    </form>

                    <div class="col-6 mt-2">
                        <a class="btn btn-outline-primary" th:href="@{/logout}" id="logout"> Logout </a>
                    </div>

                </div>
            </div>
        </div>
    </div>




</section>
</body>
</html>