<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/userProfileBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <!--Emails Tab-->
        <div class="tab-pane fade show active" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab" tabindex="0">
            <form action="#!">
                <fieldset class="row gy-3 gy-md-0">
                    <legend class="col-form-label col-12 col-md-3 col-xl-2">Email Alerts</legend>
                    <div class="col-12 col-md-9 col-xl-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="emailChange">
                            <label class="form-check-label" for="emailChange">
                                Email Changed
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="passwordChange">
                            <label class="form-check-label" for="passwordChange">
                                Password Changed
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="weeklyNewsletter">
                            <label class="form-check-label" for="weeklyNewsletter">
                                Weekly Newsletter
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="productPromotions">
                            <label class="form-check-label" for="productPromotions">
                                Product Promotions
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>