<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/userBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/faqs/faq-2/assets/css/faq-2.css">

    <title>Document</title>
</head>
<body>
<section>

    <!--Emails Tab-->
    <div class="tab-pane fade show active" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab" tabindex="0">
        <!-- FAQ 2 - Bootstrap Brain Component -->
        <div class="bsb-faq-2 bg-light py-3 py-md-5 py-xl-8">
            <div class="container">
                <div class="row gy-5 gy-lg-0">

                    <div class="col-12 col-lg-10">

<!--                        <p class="lead fs-4 text-secondary">We hope you have found</p>-->

                        <div class="row justify-content-xl-end">
                            <div class="col-12 col-xl-11">
                                <div class="accordion accordion-flush" id="accordionExample">

                                    <div class="accordion-item mb-4 shadow-sm">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                What is the purpose of this vaccination tracking application?
                                            </button>
                                        </h2>

                                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                            <div class="accordion-body">
                                                This application helps parents keep track of their children's vaccination schedule conveniently.
                                                It allows you to easily manage and monitor the vaccines your child has received and those that are pending.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item mb-4 shadow-sm">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                How does the application notify me about upcoming vaccinations?
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                            <div class="accordion-body">
                                                The application sends you notifications via email or SMS to remind you about upcoming vaccination appointments.
                                                You can also view the schedule within the application dashboard.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item mb-4 shadow-sm">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                What if I miss a vaccination appointment?
                                            </button>
                                        </h2>

                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                                            <div class="accordion-body">
                                                If you miss a vaccination appointment, the application will automatically reschedule it for you.
                                                You'll receive notifications regarding the new appointment date and time.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordion-item mb-4 shadow-sm">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Is my child's vaccination data secure on this platform?
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                                            <div class="accordion-body">
                                                Yes, we prioritize the security and privacy of your child's vaccination data.
                                                Our application employs robust security measures to ensure that your data remains confidential and protected.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item shadow-sm">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                How can I find the nearest clinic for vaccination?
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                                            <div class="accordion-body">
                                                <p>Please follow these steps:</p>

                                                <ul>
                                                    <li>Go to your profile.</li>
                                                    <li> Choose any location from "Preferred clinic location" option</li>
                                                    <li>Scroll to watch all the clinic locations</li>
                                                    <li>After choosing one, press save and your request will be sent to all the clinics of that locations.</li>
                                                    <li>Which one accepts it will be your vaccine taking clinic, and you can change it anytime.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://unpkg.com/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>