<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/userProfileBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!--Overview Tab-->
    <section>
        <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
            <h5 class="mb-3">About</h5>
            <p class="lead mb-3"> <span style="color: crimson" th:text="${currentUser.babyName}"> </span> is a baby, just entered the world with a cry, signaling the arrival and the beginning of a remarkable journey. Swaddled in warmth and innocence, embody the promise of new life, sparking joy and wonder in those around them. With each tiny breath, we wish a bright future of this baby.</p>
            <h5 class="mb-3">Profile</h5>
            <div class="row g-0">

                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Baby Name</div>
                </div>
                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2"> [[${currentUser.babyName}]] </div>
                </div>

                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Birth Date</div>
                </div>
                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">[[${currentUser.birthDate}]]</div>
                </div>

                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Father's Name</div>
                </div>
                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">[[${currentUser.fatherName}]]</div>
                </div>

                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Mother's Name</div>
                </div>
                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">[[${currentUser.motherName}]]</div>
                </div>

                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Email</div>
                </div>
                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">[[${currentUser.email}]]</div>
                </div>

                <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2"> Vaccine Taking clinic </div>
                </div>
                <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">[[${currentUser.vaccineTakingClinicName}]]</div>
                </div>


            </div>
        </div>
    </section>
</body>
</html>