<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/user.css}" rel="stylesheet">
    <title>Document</title>

</head>
<body>

    <section>
        <div class="container">

            <!--background image-->

            <div class="contents">
                <div class="row">
                    <div class="col-md-7 functionButtons">
                        <div class="col-md-4 box">
                            <div class="bigButton">
                                <button><img th:src="@{/images/list2.png}" alt=""> VACCINE LIST </button>
                            </div>
                        </div>

                        <div class="col-md-3 box">
                            <div class="buttons">
                                <button><img th:src="@{/images/chequeStatus.png}" alt=""> Cheque Status </button>
                                <button><img th:src="@{/images/vaccineCard.png}" alt=""> Vaccine Card </button>
                                <button><img th:src="@{/images/birthCertificate.png}" alt=""> Birth Certificate </button>
                                <button><img th:src="@{/images/faq.png}" alt=""> FAQ </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>




            <!--nicher bar ta-->

            <div class="lowerBox">
                <div class="row items">
                    <item class="item"> Hotline - <span class="number">333</span></item>
                    <span class="dash"> | </span>
                    <item class="item"> Health Portal - <span class="number">16263</span></item>
                    <span class="dash"> | </span>
                    <item class="item"> Vaccine Authority - <span class="number">16263</span></item>
                    <span class="dash"> | </span>
                    <item class="item"> IEDCR - <span class="number">10655</span></item>

                </div>

            </div>

            <!-- Just headline of the process-->
            <div class="processHeadline">
                <div class="row">
                    <div class="col-md-1">
                        <div class="markBox">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="text">
                            <h4> The process of receiving the vaccines.</h4>
                        </div>
                    </div>

                </div>


            </div>

            <!--Process -->
            <div class="process">

                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/images/hospitalRegistration.png}">
                        <div class="card-body">
                            <h5 class="card-title"> Registration </h5>
                            <p class="card-text"> At First you've to registration your child's name and birth time through the hospital authority. </p>
                        </div>
<!--                            <div class="card-footer">-->
<!--                                <small class="text-muted">Last updated 3 mins ago</small>-->
<!--                            </div>-->
                    </div>
                    <div class="card">
                        <img class="card-img-top" th:src="@{/images/birthCertificate.png}" >
                        <div class="card-body">
                            <h5 class="card-title">Birth Certificate</h5>
                            <p class="card-text"> Now you've to request the birth Certificate through the token you've given by the hospital.</p>
                        </div>
<!--                            <div class="card-footer">-->
<!--                                <small class="text-muted">Last updated 3 mins ago</small>-->
<!--                            </div>-->
                    </div>
                    <div class="card">
                        <img class="card-img-top" th:src="@{/images/vaccineCard.png}" >
                        <div class="card-body">
                            <h5 class="card-title">Take Vaccine</h5>
                            <p class="card-text">Now your child can take the vaccine from hospital by seeing which vaccine should take now. </p>
                        </div>
<!--                            <div class="card-footer">-->
<!--                                <small class="text-muted">Last updated 3 mins ago</small>-->
<!--                            </div>-->
                    </div>
                </div>

            </div>

        </div>
        <!--body end-->


        <!--Footer-->

        <footer class="w-100 py-4 flex-shrink-0">
            <div class="container py-4">
                <div class="footer row">
                    <div class="col-lg-4 col-md-6">
                        <h5 class="h1 text-white">VaxGuard</h5>
                        <p class="small text-muted"> A trustable child important vaccine provider partner of government.</p>
                        <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">vaxguard.c.com</a></p>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <h5 class="text-white mb-3">Hospitals</h5>
                        <ul class="list-unstyled text-muted">
                            <li><a href="#">Dhaka</a></li>
                            <li><a href="#">Chittagong</a></li>
                            <li><a href="#">Sylhet</a></li>
                            <li><a href="#">Mymensingh</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <h5 class="text-white mb-3"> Associates</h5>
                        <ul class="list-unstyled text-muted">
                            <li><a href="#">Government & Private Clinics</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-3">Newsletter</h5>
                        <p class="small text-muted"> If you want to receive our updated news then you can share your mail address.</p>
                        <form action="#">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>

    </section>

</body>
</html>
