.loginBox{
    box-shadow: 4px 4px 8px 5px rgba(0, 0, 0, 0.2), 6px 6px 20px 10px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.background{
    height: 100vh;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}



/* eye - password show */
.container {
}

.password-input {
    width: calc(100% - 30px);
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
}

.eye {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}
